html {
    background-image: url(../images/background.jpeg);
}

h1 {
    color: red;
}

li {
    list-style: none;
}

nav > ul > li{
    display: inline;
}

.intro {
    border-style: solid;
    float: left;
    overflow: hidden;
    margin-left: 100px;
}

.ideas {
    float:right;
    border-style: solid;
    margin-right: 275px;
}

.timer {
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 5px;
}

.randNum {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 5px;
}

#descText {
    font-size: 1em;
    color: blue;
}

footer {
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
}